{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <div class="row justify-content-center g-0 mb-5">
        <div class="col-8 col-md-6 col-lg-5 col-xl-4 justify-content-center mt-2 p-2 mb-5 autho-card">
            <h3 class="p-3">{% trans "Sign Up" %}</h3>

            <p>
                {% blocktrans %}Do you already have an account?
                <a class="link" href="{{ login_url }}">sign in</a>
                {% endblocktrans %}
            </p>
            <form class="signup p-1 justify-content-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark m-1 p-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}