{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if not user.is_authenticated %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="card text-center" id="Card">
    <div class="card-body p-4 text-white">
      <h4 class="card-title">Please Login First</h4>
      <h6 class="card-subtitle m-3">You can't see your booking list without login!</h6>
      <a href="{% url 'account_login' %}" class="btn btn-outline-dark">Go to Login Page</a>
    </div>
  </div>
</div>

{% else %}
<div class="container-fluid mb-3 p-1">
  {% if user.is_authenticated %}
  <h2 class="text-center pt-3"> My Bookings</h2> 
  <hr class="border border-danger border-2 opacity-40">
  <div id="table-scroll" class="table-responsive text-center h-100">
    <table class="table table-hover table-bordered border border-3">
      <thead class="fixed-thead table-dark">
          <tr>
            <th class="th-header" scope="col">Name</th>
            <th class="th-header" scope="col">Guest</th>
            <th class="th-header" scope="col">Date</th>
            <th class="th-header" scope="col">Time</th>
            <th class="th-header" scope="col"></th>
          </tr>
      </thead>
      <tbody>
          {% for booking in bookings %}
        <tr>     
          <td> {{booking.name}} </td>
          <td> {{booking.guest}} </td>
          <td> {{booking.date}} </td>
          <td> {{booking.time}} </td>
          <td>
            <a href="/update_bookings/{{ booking.id }}" class="text-decoration-none"> 
              <button class="btn btn-sm btn-primary edit-btn"> Edit </button>
            </a>
            <a href="/delete_booking/{{ booking.id }}" class="text-decoration-none"> 
              <button class="btn btn-sm btn-danger"> Delete </button>
            </a> 
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}

