{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}



  <!-- header Image -->
  <!-- <div class="bg-image" 
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
           height: 40vh;">
           <h1 class="text-center text-white" style="padding-top: 7rem;">Reservation</h1>
  </div> -->


    {% for msg in messages %}
      {{ msg }}
    {% endfor %}



  {% if not user.is_authenticated %}
  <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
      <div class="card text-center" id="Card">
        <div class="card-body p-4 text-white">
          <h4 class="card-title">Please Login First</h4>
          <h6 class="card-subtitle m-3">You can't reserve a table without login!</h6>
          <a href="{% url 'account_login' %}" class="btn btn-outline-dark">Go to Login Page</a>
        </div>
      </div>
  </div>
  {% else %}
    <!-- form -->
  <section id="reservation">
    

    <!-- <form action="" method="post" class="container text-center" style="background: #D67E71;">
   
      
      <div class="section-title text-center pb-3">
        <h3>Book a table</h3>
      </div>
      <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName" placeholder="John Dave" required>
            </div>
      </div>
      <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="feast@gmail.com" required>
          </div>
      </div>
      <div class="row mb-3">
            <label for="inputGuest" class="col-sm-2 col-form-label">Guest</label>
            <div class="col-sm-10">
              <input type="number" min="0" step="1" max="20" class="form-control" id="inputGuest" placeholder="Num of guests" required>
            </div>
      </div>
      <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="Date" name="dob" class="form-control" id="datepicker" placeholder="" required>
          </div>
      </div>
      <div class="row mb-3">
            <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
          <div class="col-sm-10">
            <input type="time" name="time" class="form-control" id="inputTime" placeholder="" required>
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Book</button>
    </form> -->
    

    <form action="" method="post" class="container">
      {% csrf_token %}
      {{form|crispy}}
      
        <button type="submit" class="btn btn-outline-success m-3">submit</button>
    
    </form>


  </section>
    
`{% endif %}
    

    

  {% endblock  %}

