{% extends 'base.html' %}
{% load static %}


  {% block content %}
 
    <!-- Crousal wrapper section -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="d-block w-100" autoplay muted loop>
          <source src="{% static 'videos/video1.mp4' %}" type="video/mp4">
        </video>  
        <div class="carousel-caption d-md-block">
            <h1>Welcome to our restaurant</h1>
            <p>count the memories, not the calories.</p> <hr>
            <button type="button" class="btn ardent-btn text-white">BOOK NOW</button>
        </div>    
      </div>
      <div class="carousel-item">
        <video class="background-video d-block w-100" autoplay muted loop>
          <source src="{% static 'videos/video2.mp4' %}"  type="video/mp4">
        </video>  
        <div class="carousel-caption d-md-block">
          <h4>A visit to our restaurant will prove one of the best experiences in your life.</h4>
        </div>  
      </div>
      <div class="carousel-item">
        <video class="background-video d-block w-100" autoplay muted loop>
          <source src="{% static 'videos/video3.mp4' %}" type="video/mp4">
        </video>
        <div class="carousel-caption d-md-block p-3">
          <h4>First, we eat breakfast, and later, we change the world.</h4>
        </div>    
      </div>
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
    <!-- End Crousal wrapper section -->


  <!-- About us section -->
  <section class="about-section">
    <div class="container text-center">
      <div class="row"> 
        <!-- text class: col-lg-6 col-md-12 col-12, img class: col -->
        <div class="col-lg-5 d-flex align-items-center">
          <div class="inner-column">
            <div class="section-title mb-3">
                <h2>About Us</h2>
                <hr class="border border-danger border-2 opacity-50">
            </div>
            <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, tenetur culpa. Ad suscipit repellat fuga, consequuntur, ratione perferendis facilis quos tempora nostrum tenetur nemo cumque, aut eius laboriosam dolorum? Assumenda.</div>
          <div class="text">
            We are here to serve you next level tutorial that currently in trend to match you with your expertise. Css3 transition is a learning website. where you can find many good quality content related to web development and tutorials about plugins. here we are using html, html5, css, css3, jquery & javascript along with inspirational UI design layout by professionals by using Photoshop and adobe allustrator.
          </div>
            <!-- <div class="btn-box">
                <a href="#" class="theme-btn btn-style-one">drink Us</a>
            </div> -->
        </div>
        </div>
        <div class="col-lg-7 p-3 d-flex align-items-center">
          <div id="image-section" class="container">
            <div class="row g-0">
              <div class="col">
                <img src="{% static 'images/waiter2.webp' %}" alt="image of a waiter preparing an orderd" class="img-fluid">
              </div>
              <div class="col">
                <img src="{% static 'images/waiter1.webp' %}" alt="image of a waiter smiling" class="img-fluid">
              </div>
            </div>
            <div class="row g-0">
              <div class="col">
                <img src="{% static 'images/inside-restaurant.webp' %}" alt="image of the front desk in the restaurant" class="img-fluid">
              </div>
              <div class="col">
                <img src="{% static 'images/outside-restaurant.webp' %}" alt="image of the workers outside the restaurant" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--END About us section -->

  <!-- Menu section -->
  <section id="menu">
    <div class="container">
      <div class="row">
        <div class="col-12 intro-text">
          <div class="section-title mb-3 text-center">
            <h2>Menu</h2>
            <hr class="border border-danger border-2 opacity-50">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
        <!-- food -->
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-food-tab" data-bs-toggle="pill" data-bs-target="#pills-food" type="button" role="tab" aria-controls="pills-food" aria-selected="false">Food</button>
        </li>
        <!-- drink -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-drink-tab" data-bs-toggle="pill" data-bs-target="#pills-drink" type="button" role="tab" aria-controls="pills-drink" aria-selected="false">Drink</button>
        </li>
        <!-- specials -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-specials-tab" data-bs-toggle="pill" data-bs-target="#pills-specials" type="button" role="tab" aria-controls="pills-specials" aria-selected="false">specials</button>
        </li>    
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <!-- food/dishes tab -->
        <div class="tab-pane fade show active" id="pills-food" role="tabpanel" aria-labelledby="pills-food-tab" tabindex="0">
          <div class="row g-4">
            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish1.webp' %}" alt="a bowl of salad with fries" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish3.webp' %}" alt="a bowl of tacos with salad" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish7.webp' %}" alt="sandwiches in a plate" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish6.webp' %}" alt="sushi with a glass of tea" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish5.webp' %}" alt="a plate of spaghetti" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish4.webp' %}" alt="pizza" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>
          </div>
        </div>
        <!-- dirnk tab -->
        <div class="tab-pane fade" id="pills-drink" role="tabpanel" aria-labelledby="pills-drink-tab" tabindex="0">
          <div class="row g-4">

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/drink1.webp' %}" alt="a glass of orange juice" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/drink3.webp' %}" alt="a glass full of ice and starwberry jusice" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/drink2.webp' %}" alt="a glass of lemon juice" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-specials" role="tabpanel" aria-labelledby="pills-specials-tab" tabindex="0">
          <div class="row g-4">

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish4.webp' %}" alt="an italian pizza" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/dish1.webp' %}" alt="a salad bowl" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="menu-item text-center">
                <img src="{% static 'images/specials2.webp' %}" alt="some pieces of sushi in plate" class="img-fluid">
                <h5 class="mb-2 mt-1 fw-semibold">Baked potato</h5>
                <small class="text-muted">a baked potato with Chow mein, sour cream, taco seasoning mix, avocado, french</small>
                <div class="price">$5.4</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END Menu section -->


    <!-- Customer review section -->
  <section id="review">
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark p-1 pt-3" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'images/avatar1.png' %}" alt="avatar" style="width: 150px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Par Dave</h5>
                <p>Content Manager</p>
                <p class="text-muted">
                  <i class="fas fa-quote-left pe-2"></i>
                  This cozy restaurant has left the best impressions! Hospitable hosts, delicious dishes, 
                  beautiful presentation, wide wine list and wonderful dessert. I recommend to everyone! I 
                  would like to come back here again and again.
                </p>
              </div>
            </div>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
        </div>
        <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'images/team1.jpg' %}" alt="avatar" style="width: 150px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">James Robert</h5>
                <p>Bussinessman</p>
                <p class="text-muted">
                  <i class="fas fa-quote-left pe-2"></i>
                  Came for lunch with my sister. We loved our Thai-style mains which were amazing with lots of flavour, 
                  very impressive for a vegetarian restaurant.
                  But the service was below average and the chips were too terrible to finish.
                </p>
              </div>
            </div>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
        </div>
        <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="{% static 'images/avatar1.png' %}" alt="avatar" style="width: 150px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Anna Deynah</h5>
                <p>Author</p>
                <p class="text-muted">
                  <i class="fas fa-quote-left pe-2"></i>
                  It’s a great experience. The ambiance is very welcoming and charming. Amazing wines,
                   food and service. Staff are extremely knowledgeable and make great recommendations
                </p>
              </div>
            </div>
            <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="far fa-star fa-sm"></i></li>
            </ul>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
   <!-- END Customer review section -->

  <section id="team">
    <div class="container p-3">
      <div class="row g-4 p-8 text-center justify-content-center" id="team-container">
        <div class="section-title">
          <h2>Meet our team</h2>
          <hr class="border border-danger border-2 opacity-50">
        </div>
        <div class="col-lg-3 col-sm-6 member-box">
          <div class="member">
            <img src="{% static 'images/team1.jpg' %}" alt="a cheif standing in a corridor of kitchen" class="img-fluid">
          </div>
          <div class="member-info">
            <h4>John David</h4>
            <small>Assistant Cheif</small>
            <div class="social-links">
              <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 member-box">
          <div class="member">
            <img src="{% static 'images/team1.jpg' %}" alt="a cheif standing in a corridor of kitchen" class="img-fluid">
          </div>
          <div class="member-info">
            <h4>John David</h4>
            <small>Assistant Cheif</small>
            <div class="social-links">
              <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 member-box">
          <div class="member">
            <img src="{% static 'images/team1.jpg' %}" alt="a cheif standing in a corridor of kitchen" class="img-fluid">
          </div>
          <div class="member-info">
            <h4>John David</h4>
            <small>Assistant Cheif</small>
            <div class="social-links">
              <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- contact us section -->
  <section id="contact-us">
    <div class="row justify-content-center" style="padding: 1.5rem;">
      <div class="section-title text-center pb-3">
        <h2>Contact Us</h2>
        <!-- <hr class="border border-danger border-2 opacity-50"> -->
      </div>
      <div class="col-lg-6 order-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
          class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col-lg-4 text-white align-self-center contact-content">
        <div class="pb-3">
          <h4 class="fw-bold">Address</h4>
          <p>34 Street</p>
          <p>Oxford</p>
        </div>
        <div>
          <h4 class="fw-bold">Contacts</h4>
          <p>Email: feast@gmail.com</p>
          <p>Phone: +1 (0) 0000 001</p>
          <p>Fax: +1 (0) 0000 002</p>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- END contact us section -->


 
{% endblock content %}