body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inside sidebar nav */
.offcanvas-body {
    background: #e47968;
    
}

#nav-list {
    color: rgb(255, 255, 255);
    
}

#btn-outline-ardent {
    border: 3px solid #e47968;
    border-radius: 5px;
    box-shadow: 34px 34px 68px #cf6e5f,
             -34px -34px 68px #f98471;
}

#btn-outline-ardent:hover {
    background: linear-gradient(145deg, #cd6d5e, #f4816f);
}

/* hero section */
.banner-image {
    background-image: url('/bg.png');
    background-size: cover;
}

video {
    filter: brightness(80%);
 }

.ardent-btn {
    color: #fff;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background: linear-gradient(145deg, #cd6d5e, #f4816f);
    font-weight: 600;
}

.ardent-btn:hover {
    background: linear-gradient(145deg, #c45c4b, #e67361);
}


 /* new codes  */
  /* about section */
.about-section {
    padding: 4rem;
  }

.inner-column .sec-title hr {
  width: 50%; 
  margin:0 auto;
}
  
  








/* end */

 /* crousal caption */
 @media only screen and (min-width : 1200px) {
    .carousel-caption
    {
      top: 46%;
    }
  }

  /* mobile devices */
@media only screen and (max-width: 600px) {
    .about-section {
      padding: 2rem 1rem;
    }
  }

 
  