{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Feast, restaurant, online booking">
    <meta name="description" content="an online booking restaurant">
    
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Bootstrap CSS Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- fontawsome Link -->
    <script src="https://kit.fontawesome.com/1f5f6187a8.js" crossorigin="anonymous"></script>
    
    <title>FEAST</title>
</head>
<body>
  <header>
    
    <!----- NAVBAR ----->
    <nav class="navbar navbar-dark shadow-lg p-3" style="background-color: #e47868d6;">
      <div class="container-fluid">
        <button class="navbar-toggler btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FEAST</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" id="nav-list" href="#">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="nav-list" href="#">Menu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="nav-list" href="#">drink Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="nav-list" href="{% url 'reservation:reserve_table' %}">Reservation</a>
              </li>
            </ul>
            <!-- <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form> -->
          </div>
        </div>
        <!-- LOGO Name -->
        <a class="navbar-brand mx-auto">FEAST</a>

        <div class="mx-2">
          {% if user.is_authenticated %}
          
          <button class="btn btn-outline-dark">
              <a class="text-decoration-none text-white" href="{% url 'account_logout' %}">Logout</a>
          </button>
          {% else %}
          <button type="button" id="btn-outline-ardent" class="mx-1 btn btn-outline-dark">
            <a class="text-decoration-none text-white" href="{% url 'account_login' %}"> Login</a> </button>
          <button type="button" id="btn-outline-ardent" class="btn btn-outline-dark">
            <a class="text-decoration-none text-white" href="{% url 'account_signup' %}">Register</a> </button>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </header>


  <body class="flex-shrink-0 main-bg">
    {% block content %}
      <!-- Content Goes here -->
    {% endblock content %}
  </body>


<!-- Footer -->
  <footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright: Muzhda Noorzad </div>
  </footer> 
<!-- End Footer -->
  

    <!-- Bootstrap JS link -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
  <script>
    // Navbar will change its color after scrolling
    const navScroll = document.querySelector('.navbar');

    window.addEventListener('scroll', () => {
      if (window.scrollY >= 370) {
        navScroll.classList.add('nav-scrolled');
      }
      else if (window.scrollY <= 370) {
        navScroll.classList.remove('nav-scrolled')
      }
    });
  </script>
</body>
</html>